{% extends 'course/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<h1>Teacher Home</h1>

	<style>
		.box{
			background: #a19f9c;

		}
		</style>
		<div class="box">

			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6 "><a href="#">vishnu</a></div>
						<div class="col-lg-3 col-sm-6">shubham</div>
							<div class="col-lg-3 col-sm-6">viraj</div>
							<div class="col-lg-3 col-sm-6">ibrahim</div>
								</div>
								</div>
			<div class="container">
				 <div class="row">
					 <div class="col-lg-3 col-sm-6">vyshnavi</div>
				 	<div class="col-lg-3 col-sm-6">divyanshu</div>
					<div class="col-lg-3 col-sm-6">ankit sir</div>
					<div class="col-lg-3 col-sm-6">neeraja mam</div>
				 </div>
	    </div>







		</div>


{% endblock content %}
