{% extends 'course/base.html' %}
{% load crispy_forms_tags %}
{% block content %}	

<div class="row">
		{% if available %}
		{% for student in students %}
	
		
	  <div class="col-sm-4">
		<div class="card">
		  <div class="card-body">
			<h5 class="card-title">{{ student.name }}</h5>
			<p class="card-text"></p>
			<a href="{% url 'show_questions' student.id %}" class="btn btn-primary">Goto student profile</a>
		  </div>
		</div>
	  </div>
	
		
	  {% endfor %}
	  {% else %}
	  <p>All Done</p>
	  {% endif %}
	  
	  
</div>

{% endblock content %}	 